name: Node.js CI

on: 
  push: 
    branches: [main]
  
  pull_request:
    branches: [main]

permissions: 
      issues: write
      pull_requests: write
      
      
      
jobs:
  build: 
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3

        with: 
          node-version: 18

      
      - name: Install Dependencies
        run: npm install

      - name: Run lint (Mock)
        run: npm run lint
      
      - name: Run tests
        run: npm test
        
      - name: Run app
        run: npm run start


  comment-on-failure: 
    needs: build
    if: ${{ failure() && github.event_name == 'pull_request'}}

    runs-on: ubuntu-latest
    steps:
      - name: Comment if PR fails
        uses: peter-evans/create-or-update-comment@v4

        with: 
          issue-number: ${{ github.event.pull_request.number }}
          
          body: |
            âŒ **Automated Test Failed!**
            Please fix the test errors before merging.